# local/build files
bin/
build/

# editor files
.vs/
.cproject
.project
.vscode/
.DS_STORE
.swp
/CMakeSettings.json

# Python
.py[cod]

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
